.customercard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

.customer-card {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s;
  cursor: pointer;
}

.customer-card:hover {
  transform: scale(1.02);
}

.customer-card h2 {
  font-size: 20px;
  margin: 10px 0;
  color: #333;
}

.customer-card p {
  font-size: 16px;
  margin: 5px 0;
  color: #666;
}

h1 {
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
  color: #333;
}

body {
  background-color: #f7f7f7;
}

.pagination-container {
  display: flex;
  justify-content: center;

  margin-bottom: 200px;
}
